In [1]:
var1 = "Bob"
var1

'Bob'

In [2]:
var1 ="Sam"
var1

'Sam'

In [3]:
var1="Matt"
var1

'Matt'

In [4]:
a=10
type(a)

int

In [5]:
a=13.4
type(a)

float

In [6]:
a=True
type(a)

bool

In [7]:
a="Hello world"
type(a)

str

In [8]:
a=4+8j
type(a)

complex

In [9]:
#additon

In [10]:
a=10
b=20

In [11]:
a+b

30

In [12]:
a-b

-10

In [13]:
a*b

200

In [14]:
a/b

0.5

In [15]:
#Relational Operator

In [16]:
a=10
b=20

In [17]:
a<b

True

In [18]:
a>b

False

In [19]:
a==b

False

In [20]:
a!=b

True

In [21]:
#Logical Operators

In [22]:
a=True
b=False

In [23]:
a&b

False

In [24]:
b&a

False

In [25]:
a&a

True

In [26]:
b&b

False

In [27]:
a|b

True

In [28]:
b|a

True

In [29]:
a1="joey does n't share Pizza"

In [33]:
a1[5:12]

"does n'"

In [34]:
tup1=(1,2.5,True,"Hello")
tup1

(1, 2.5, True, 'Hello')

In [37]:
tup1[0]

1

In [38]:
tup1[1]

2.5

In [39]:
tup1[2]

True

In [40]:
tup1[3]

'Hello'

In [45]:
list1=[1,2.4,True,"hello"]
list1

[1, 2.4, True, 'hello']

In [46]:
list1.append(100)
list

list

In [47]:
list1

[1, 2.4, True, 'hello', 100]

In [48]:
list1

[1, 2.4, True, 'hello', 100]

In [49]:
list1.append([1,2,3,4])

In [50]:
list1

[1, 2.4, True, 'hello', 100, [1, 2, 3, 4]]

In [51]:
list1.append("test")

In [52]:
list1

[1, 2.4, True, 'hello', 100, [1, 2, 3, 4], 'test']

In [53]:
list1.pop()

'test'

In [54]:
list1

[1, 2.4, True, 'hello', 100, [1, 2, 3, 4]]

In [55]:
list1.pop()

[1, 2, 3, 4]

In [56]:
list1

[1, 2.4, True, 'hello', 100]

In [61]:
dict1= {'Apple:10'}

In [62]:
dict1

{'Apple:10'}

In [63]:
dict1=None

In [64]:
dict1

In [66]:
dict1 ={'Apple':30,'Orange':50,'Mango':25}

In [67]:
dict1.keys

In [69]:
dict1.keys()

dict_keys(['Apple', 'Orange', 'Mango'])

In [70]:
dict1.values()

dict_values([30, 50, 25])

In [71]:
dict1["Apple"]=100

dict1

In [72]:
dict1

{'Apple': 100, 'Orange': 50, 'Mango': 25}

In [73]:
s1={1,"hello",2.3,1,True}
s1

{1, 2.3, 'hello'}

In [74]:
s1.add("hello world !")

In [75]:
s1

{1, 2.3, 'hello', 'hello world !'}

In [79]:
s1.update(['Test',500,25])
s1

{1, 2.3, 25, 500, 'T', 'Test', 'e', 'hello', 'hello world !', 's', 't'}

In [81]:
a=10
b=20

In [82]:
if b>a:
    print("B is greater than A")

B is greater than A

In [83]:
if(a>b):
    print("A is greater than B")

In [84]:
if(a>b):
    print("A is greater than b")
else:
    print("B is greater than A")

B is greater than A

In [85]:
a=10
b=20
c=30

In [86]:
if(a>b)&(a>c):
    print("A is the greatest")
elif(b>c & b>c):
    print("B is greatest")
else:
    print("C is the greatest")

C is the greatest

In [87]:
#tuple with if

In [17]:
tup1=("a","b","c")

In [89]:
if "a" in tup1:
    print("a is present")

a is present

In [90]:
if "s" in tup1:
    print("s is present")

In [91]:
#if with List

In [98]:
tup1=(1,2,3,4,5,6,7,8)

In [99]:
tup1[0]

1

In [102]:
if(tup1[0==1]):
    print("the first element in the tuple is 1")

the first element in the tuple is 1

In [11]:
l1=[1,2,3,4,5,6,7]

In [10]:
l1

10

In [12]:
list1=[1,2.4,True,"hello"]
list1

[1, 2.4, True, 'hello']

In [13]:
if(list1[0]==1):
    list1[0]=100
list1

[100, 2.4, True, 'hello']

In [15]:
type(list1)

list

In [18]:
type(tup1)

tuple

In [19]:
d1={"Mango":10,"Apple":20}

In [20]:
d1.keys()

dict_keys(['Mango', 'Apple'])

In [25]:
d1["Mango"]

10

In [26]:
if(d1["Mango"]==10):
    d1["Mango"]=d1["Mango"]+10
d1

{'Mango': 20, 'Apple': 20}

In [28]:
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [30]:
a=10
print(a)

10

In [31]:
type(a)

int

In [32]:
b=2.3
print(b)

2.3

In [33]:
c=True
print(c)
type(c)

True

bool

In [38]:
d="hello"
type(d)

str

In [39]:
a=10
b=20
c=a+b
print(c)

30

In [40]:
a-b

-10

In [41]:
a/b

0.5

In [42]:
a=True
b=False
a & b

False

In [43]:
a | b

True

In [44]:
str1="This is a test string"
str1[2:5]

'is '

In [45]:
tup1=(1,2,3,4)
type(tup1)

tuple

In [46]:
list1=[10,20,30,40]
type(list1)

list

In [47]:
dict1={"Mango":10,"Banana":20}
dict1

{'Mango': 10, 'Banana': 20}

In [48]:
dict1.keys()

dict_keys(['Mango', 'Banana'])

In [49]:
dict1.values()

dict_values([10, 20])

In [50]:
i=1
n=2

In [51]:
while(i<=10):
    print(n,"*",i,"=",i*n)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [52]:
list1=["red","blue","green"]

In [53]:
for i in list1:
    print(i)

red
blue
green

In [54]:
color=["red","blue","gree"]
items=["chair","book","phone"]

In [55]:
for i in color:
    for j in items:
        print(i," ",j)

red   chair
red   book
red   phone
blue   chair
blue   book
blue   phone
gree   chair
gree   book
gree   phone

In [56]:
def hello():
    print("Hello world !")

In [57]:
hello()

Hello world !

In [58]:
def add_10(x):
    return 10+x

In [59]:
add_10(35)

45

In [65]:
def even_odd(x):
    if(x%2==0):
        print(x," is even")
    else:
        print(x," is odd")

In [66]:
even_odd(13)

13  is odd

In [67]:
class Phone:
    def make_call(self):
        print("Making phone call")
    def play_game(self):
        print("Playing game")

In [68]:
p1=Phone()

In [69]:
type(p1)

__main__.Phone

In [70]:
p1.make_call()

Making phone call

In [71]:
p1.play_game()

Playing game

In [72]:
class Phone:
    def add_color(self,color):
        self.color=color
    def add_cost(self,cost):
        self.cost=cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    def make_call(self):
        print("Making phone call")
    def play_game(self):
        print("Playing game")

In [73]:
p2=Phone()

In [74]:
p2.add_color("green")

In [75]:
p2.add_cost(300)

In [76]:
p2

In [77]:
p2.show_color()

'green'

In [78]:
p2.show_cost()

300

In [79]:
p3=Phone()

In [80]:
p3.add_color("red")

In [81]:
p3.show_color()

'red'

In [82]:
import Numpy as np

ModuleNotFoundError: No module named 'Numpy'